@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Noto+Serif&family=Poppins:wght@400;500&display=swap');
body {
    font-family: Poppins, sans-serif;
    color: #3D3D3C;
}
:root{
    --accent-color: #F39200;
    --background-color: #F4ECE8;
}
.bg-color{
    background-color: var(--background-color);
}
.hover:hover{
    color: var(--accent-color);
}
.nav-item:hover{
    color: var(--accent-color);
    transition-duration: 0.2s;
}
.header-rightside{
    display: flex;
    align-items: center;
    gap: 30px;
}
.search{
    width: 40px;
    height: 40px;
    background-image: url(../img/search_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.search:hover{
    background-image: url(../img/search_icon_hover.svg);
    scale: 1.3;
    transition-duration: 0.5s;
}
.header-line{
    height: 60px;
    width: 1px;
    background-color: #F2F2F2;
}
.header-account{
    display: flex;
    align-items: center;
    gap: 35px;
}
.menu-mobile{
    display: none;
    width: 40px;
    height: 40px;
    background-image: url(../img/menu-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.menu-mobile:hover{
    background-image: url(../img/menu-icon_hover.svg);

}
.main-banner{
    background-image: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 584px;
    color: #FFFFFF;
}
.main-banner p{
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.row{
    display: flex;
}
h1 {
    font-weight:700;
    font-size:60px;
    font-family:"Abhaya Libre",serif;
    line-height:1.03em
   }
h2 {
    font-size:40px;
    line-height:1.14em;
    font-family:"Abhaya Libre",serif;
    color:#3D3D3C;
    text-align:left;
    margin:0
   }
h3 {
    font-size:24px;
    font-weight: 500;
    line-height:1.3em;
    color:#3D3D3C
   }
.main-banner h1{
    padding-top: 310px;
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
    margin-top: 52px;
}
.slider-item {
    display:flex;
    width:407px;
    height:144px;
    border-radius:4px;
    background-color:#fff;
    padding:5px;
    text-decoration:none;
   }
.slider-item:hover{
    transition-duration: 0.5s;
    transform: translateX(-1em);
}
.slider-item img {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.slider-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 19px 16px 19px;
}
.slider-title{
    font-size: 12px;
    color: var(--accent-color);
}
.slider-description{
    font-size: 18px;
    color: #3D3935;
}
.news{
    padding: 38px 0 24px 0;
}
.block-title::after {
    content:"";
    display:block;
    margin:0 auto;
    width:calc(100% - 24px);
    background:#B5B7C3;
    height:1px
   }
.block-title h2{
    font-size: 60px;
}
.vedi-tutti{
    text-align:right;
    display:block;
    font-weight:700;
    font-size:13px;
    line-height:1.4em;
    text-decoration:none;
    color:#3D3D3C;
    margin:27px 0 8px auto;
}
.vedi-tutti:hover{
    color: var(--accent-color);
    transition-duration: 0.2s;
}
.big-news-item{
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;
}
.big-news-item:hover{
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.24));
    transition-duration: 0.5s;
}
.big-news-item img{
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: 30px;
}
.big-news-item-title{
    color: var(--accent-color);
    margin-top: 29px;
    margin-bottom: 17px;
    font-size: 13px;
    font-weight: 500;
}
.big-news-item-description{
    text-align: center;
    width: 692px;
    margin: 0 auto;
}
.big-news-item-name{
    font-family: Noto Serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 51px;
}
.big-news-item-name span{
    color: var(--accent-color);
}
.button{
    color:#3D3D3C;
    border:1.5px solid #3D3D3C;
    border-radius:4px;
    text-decoration:none;
    display:block;
    padding:12px 0 11px 0;
    font-size: 13px;
}
.big-news-item .button{
    width:calc(100% - 15px);
    margin:0 auto 16px auto;
}
.button:hover{
    color: #FFFFFF;
    background-color: #3D3D3C;
    transition-duration: 0.3s;
}
.news-item{
    display: flex;
    height: 315px;  
    gap: 15px;
    text-align: left;
    background-color: #FFFFFF;
    padding: 5px 14px 5px 5px;
    border-radius: 4px;
    margin-top: 32px;
}
.news-item:hover{
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.24));
    transition-duration: 0.5s;
}
.news-item img{
    width: 80%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.news-item-text{
    padding-top: 15px;
    margin-bottom: 16px;
}
.news-item-title{
    color: var(--accent-color);
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 500;
}
.news-item h4{
    margin: 15px 0 0 0;
    font-size: 18px;
    padding-bottom: 26px;
}
.news-item-description{
    font-family: Noto Serif;
    font-weight: 400;
    font-size: 13px;
}
.news-item-name{
    font-family: Noto Serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 74px;
}
.news-item-name span{
    color: var(--accent-color);
}
.item-button{
    width: 100%;
    text-align: center;
    color:#3D3D3C;
    border:1.5px solid #3D3D3C;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    padding: 7px 0 7px 0;
    font-size: 13px;
}
.item-button:hover{
    color: #FFFFFF;
    background-color: #3D3D3C;
    transition-duration: 0.3s;
}
.mondi{
    margin-top: 82px;
    margin-bottom: 92px;
}
.mondi-block{
    padding: 86px 0 160px 0;
    margin: 0 auto;
}
.mondi .block-title::after{
    width: 100%;
    margin-top: 8px;
}
.mondi-item{
    position:relative;
    width:100%;
    height:150px;
    padding:5px;
    top:-61px;
    margin-top: 30px;
}
.mondi-item-text{
    position:relative;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    height: 136px;
    padding: 80px 5px 24px 5px;
    bottom: -126px;
    margin: 0;
}
.mondi img{
    position: absolute;
    top: 61px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}
.mondi img:hover{
    top: 68px;
    transition-duration: 0.5s;
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.3));
}
.tutorial{
    padding: 76px 0 100px 0;
}
.tutorial-card{
    padding: 5px;
    border-radius: 4px;
    margin-top: 30px;
}
.tutorial-card:hover{
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.24));
    transition-duration: 0.5s;
}
.tutorial-card img{
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.tutorial-item-text{
    flex-direction: column;
    padding: 19px 24px 24px 24px;
}
.item-title{
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 17px;
}
.tutorial-item-text h2{
    font-size: 30px;
    padding-bottom: 67px;
}
.item-name span{
    color: var(--accent-color);
}
.sponsor{
    margin-top: 82px;
    margin-bottom: 92px;
}
.sponsor-block{
    padding: 86px 0 160px 0;
}
.sponsor .block-title::after{
    width:calc(82% - 8px);
    margin:0 auto
}
.sponsor h3{
    margin: 15px 0 5px 0;
}
.arrow-scroll{
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    margin: 100px auto 0 auto;
}
.sponsor-scroll-container{
    justify-content: space-between;
    gap: 19px;
    padding-bottom: 5px;
    overflow: hidden;
}
.sponsor-item{
    width: 194px;
    height: 192px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.03);
    margin-top: 23px;
}
.sponsor-item:hover{
    scale: 1.05;
    transition-duration: 0.4s;
}
.adv{
    padding: 70px 0 90px 0;
}
.adv-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 238px 238px;
}
.adv-text-block{
    grid-row: 1/3;
}
.adv-upper-block{
    background-color: #059EB2;
}
.adv-lower-block{
    background-color: #F39200;
}
.adv-text-block{
    padding: 70px 80px;
}
.adv-text-block h1{
    line-height: 61px;
    padding-bottom: 30px;
}
.adv-text-block p{
    font-size: 13px;
    font-family: Noto Serif;
    line-height: 1.5;
    margin-top: 20px;
}
.adv-photo{
    width: 124px;
    height: 132px;
}
.adv-photo:hover{
    scale: 1.15;
    transition-duration: 0.6s;
}
.adv-upper-block, .adv-lower-block{
    align-items: center;
    gap: 50px;
    padding: 40px 0px 40px 60px;
}
.adv-text-block h3{
    color: black;
}
.adv-side-text h2, .adv-side-text h3{
    color: #FFFFFF;
}
.adv-side-text .item-button{
    color: #FFFFFF;
    border:1.5px solid #FFFFFF;
    margin-top: 14px;
    margin-bottom: 20px;
    width: 130px;
}
.adv-side-text .item-button:hover{
    color: #3D3D3C;
    background-color: #FFFFFF;
}
.subscribe-block{
    padding: 60px 100px 80px 80px;
    margin-top: 80px;
    margin-bottom: 88px;
}
.subscribe-text{
    padding-right: 60px;
    padding-bottom: 40px;
}
.subscribe-text h3{
    padding-top: 30px;
}
form .input{
    flex-direction:column;
}
form .input input{
    height:38px;
    border:1.5px solid #3d3d3c;
    border-radius: 4px;
    background-color: transparent;    
    padding: 8px;
}
form .input label{
    font-size: 13px;
    padding-bottom: 4px;
}
form .input input:focus{
    background-color: #FFFFFF;    
    border:1.5px solid #b8b8b8;
    outline:0
}
form .input:nth-child(2){
    margin-top:20px
}
form .agree-text{
    font-family: Noto Serif;
    font-size: 10px;
    line-height: 1.6;
    margin:40px 0 20px 0
}
form .agree-radio-block label{
    font-family: Noto Serif;
    font-size: 10px;
    line-height: 1.6;
}
form .item-button{
    width: 190px;
    margin-top: 33px;
    background-color: transparent;
}
form .item-button:hover {
    color:#FFFFFF;
    background-color: #3D3935;
}
form .agree-radio-block{
    gap: 14px
}
.form-check-input{
    background-color: transparent;
    border: 1.5px solid #000000;
}
footer{
    background-color: var(--background-color);
    padding-top: 20px;
}
footer .block-title::after{
    width: 100%;
    margin-bottom: 14px;
    background: #3D3D3C;
}
.socials{
    display: flex;
    gap: 25px;
    justify-content: end;
}
.social-icon{
    text-decoration: none;
    margin-bottom: 17px;
}
.social-icon img:hover{
    scale: 1.3;
    transform: rotate(360deg);
    transition-duration: 1.5s;
}
.footer-link-col nav{
    display: flex;
    flex-direction:column;
    gap:10px;
}
.footer-link-col h3{
    font-size: 18px;
    padding-bottom: 5px;
    margin-top:30px;
}
.footer-link-col a{
    text-decoration: none;
    color: #3D3D3C;
    font-size: 13px;
}
.footer-link-col a:hover{
    color: var(--accent-color);
    transition-duration: 0.2s;
}
footer .line{
    color: #3D3D3C;
    margin-top: 66px;
    margin-bottom: 56px;
}
.footer-subscribe-text p{
    font-family: Noto Serif;
    font-size: 13px;
    line-height: 1.5;
    margin-top:20px;
}
footer .agree-text{
    margin-top: 19px;
    margin-bottom:  5px;
}
footer .item-button{
    width: 160px;
    margin-top: 10px;
}
.footer-subscribe{
    padding-bottom: 97px;
}
.label{
    margin-left: 30px;
    margin-top: 40px;
}
.labels-grid{
    display: grid;
    grid-template-columns: 12fr 2fr 1fr 1fr;
    margin: 40px 0;
}
.copyright p{
    font-size: 13px;
    margin: 20px 0;
    text-align: center;
}
.news-page-title{
    padding-bottom: 32px;
}
.bread-nav{
    text-decoration: none;
    font-size: 12px;
    color: #3D3D3C;
}
.breadcrumb a:hover{
    color: var(--accent-color);
    transition-duration: 0.2s;
}
.breadcrumb{ 
    display: flex;
    gap: 20px;
    padding: 28px 0 12px 0;
    align-items: center;
}
.page-title{
    padding: 55px 10px;
    border-radius: 5px;
}
.page-title p{
    font-size: 18px;
    line-height: 1.4;
}
.catalog-card{
    flex-direction: column;
    padding: 5px;
    border-radius: 4px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.catalog-card:hover{
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.24));
    transition-duration: 0.5s;
}
.catalog-card img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.catalog-card-text{
    margin: 17px 23px 28px 23px;
}
.catalog-card-date{
    font-size: 13px;
    line-height: 1.3;
    color: #B5B7C4;
    padding-bottom: 13px;
}
.catalog-card-description{
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 17px;
}
.catalog-card-name{
    font-size: 13px;
    padding-bottom: 26px;
}
.catalog-card-name span{
    color: var(--accent-color);
}
.articolo-banner{
    background-image: url(../img/articolo-news-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 418px;
    border-radius: 4px;
}
.tag a{
    text-decoration: none;
    color: var(--accent-color);
    padding: 0 5px;
    font-size: 13px;
}
.tag a:hover{
    text-decoration: none;
    color: white;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition-duration: 0.2s;
}
.articolo{
    padding-bottom: 50px;
}
.articolo-date{
    font-size: 13px;
    color: #B5B7C4;
}
.articolo-author p{
    font-size: 13px;
    line-height: 1.4;
    margin: 10px 0 30px 0;
}
.articolo-author span{
    color: var(--accent-color);
}
.articolo-content{
    padding-right: 120px;
}
.articolo-content img{
    width: 100%;
}
.articolo-content h2{
    padding: 0px 0 30px 0;
}
.articolo-content h3{
    font-size: 18px;
    line-height: 1.4;
}
.articolo-content p{
    font-size: 13px;
    line-height: 1.5;
    margin: 30px 0 30px 0;
}
.articolo-side-items h3{
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.3;
}
.articolo-side-items .block-title::after{
    width: 100%;
    margin-top: 16px;
}
.side-item{
    padding: 5px;
    display: flex;
    margin-bottom: 16px;
    border: 1px solid #FFFFFF;
}
.side-item img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: auto;
}
.side-item-text{
    padding: 12px;
}
.side-item-title{
    color: var(--accent-color);
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 9px;
    line-height: 160%;
}
.side-item-description{
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 30px;
}
.side-item:hover{
    transform: translateX(-0.4em);
    transition-duration: 0.5s;
    border: 1px solid #B5B7C4;
    border-radius: 4px;
}
element {

}
.dropdown-item{
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius,0);
}
.dropdown-item:active{
    background-color: var(--accent-color);
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu{
    --bs-dropdown-padding-x: 0rem;
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-spacer: 1.64rem;
}
a {

    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;

}
a {

    color: #0d6efd;
    text-decoration: underline;

}
*, ::after, ::before {

    box-sizing: border-box;

}
*, ::after, ::before {

    box-sizing: border-box;

}
.dropdown-menu{
    --bs-dropdown-link-hover-color: white;
    --bs-dropdown-link-hover-bg: var(--accent-color);
    --bs-dropdown-border-color: none;
    --bs-dropdown-border-radius: 0;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    border: none;
    box-shadow: none;
}
.navbar-toggler{
    border: none;
}




                           /* MEDIA  */

@media(max-width:1400px){
    .main-banner h1{
        padding-top: 220px;
    }

}
@media(max-width:1200px){

    .header-line{
        display:none
    }
    /* header nav{
        display: none;
    } */
    .header-rightside{
        gap: 15px;
    }
    header .menu-mobile{
        display: flex
    }
    .main-banner .slider-item{
        width: auto;
        height: auto;
    }
    .big-news-item{
        height: auto;
    }
    .big-news-item h2{
        width: unset
    }
    .news-item{
        height: auto;
    }
    .news-item img{
        width: 50%;
    }
    .news .row:nth-child(2){
        align-items: center
    }   
    .adv-grid .adv-text-block{
        grid-column: 1/3;
        grid-row: 1/2
    }
    .adv-upper-block{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .adv-lower-block{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .adv-grid{
        grid-template-rows: auto 1fr;
    }
    .adv-upper-block, .adv-lower-block{
        padding: 2em;
        gap: 2em;
    }
}


@media(max-width:992px){
    .navbar-brand{
        margin-left: 0 !important;
    }
    .navbar-brand img{
        scale: 0.6;
        margin-left: -1.5em;
    }
    .dropdown-menu{
        --bs-dropdown-spacer: -.5rem;
    }
    .main-banner h1{
        font-size: 40px;
        padding-top: 300px;
    }
    .slider{
        margin-top: 20px;
        margin-bottom: 40px;
        align-items: center;
    }
    .news{
        padding: 20px 0 40px 0
    }
    .big-news-item{
        margin-bottom: 2.4em;
    }
    .big-news-item h2{
        font-size: 30px;
    }
    .mondi-item{
        margin: 1em 0em 5em 0em;
    }
    .mondi-item-text{
        margin: 0 4em;
    }
    .mondi-block{
        padding: 40px 20px 60px 20px;
    }
    footer .item-button{
        margin-top: 30px;
    }
    .articolo-content{
        padding-right: 60px!important;
        padding-bottom: 40px;
    }
    .articolo-banner{
        height: 250px !important;
    }
}



@media(max-width:768px){
    .header-account{
        display: none
    }
    /* .header-account img{
        display: none
    } */
    .main-banner h1{
        padding-top: 60px;
    }
    .news-item img{
        width: 50%;
    }
    .news-item-name{
        margin-bottom: 90px;
    }
    .mondi-block{
        padding: 30px 20px 60px 20px;
    }
    .sponsor{
        padding:40px 0
    }
    .sponsor-block{
        padding:20px 10px 40px 10px;
    }
    .sponsor-block .block-title::after{
        width:96%
    }
    .sponsor-block .arrow-scroll{
        display:none !important
    }
    .adv-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
    }
    .adv-grid .adv-text-block{
        grid-column:1/2;
        grid-row:1/2
    }
    .adv-grid .adv-text-block h1{
        font-size: 45px;
        line-height: 51px;
        padding-bottom: 20px;
    }
    .adv-grid .adv-text-block h3{
        font-size: 18px;
   
    }
    .adv-upper-block{
        grid-column:1/2;
        grid-row: 2/3;
    }
    .adv-lower-block{
        grid-column:1/2;
        grid-row: 3/4;
    }
    .label{
        scale: 0.7;
        margin-left: 0px;
    }
    .org-logo{
        scale: 0.7;
    }
    .organizzato p{
        margin: 0 0 20px 33px;
        font-size: 12px;
    }
    .page-title{
        padding: 20px 10px !important;
    }
    .subscribe-text h1{
        font-size: 45px;
        line-height: 51px;
        padding-bottom: 10px;
    }
    .subscribe-text h3{
        font-size: 18px;
        padding-top: 10px;
    }
    .subscribe-block{
        padding: 60px 30px 80px 30px;
    }


@media(max-width:576px){
    .news-item-name{
        margin-bottom: 60px;
    }
    .label{
        scale: 0.5;
        margin: -20px -10px 0 0px;
        padding-left: 16px;
    }
    .labels-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
    }
    .label-col1{
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .label-col2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .org-logo{
        scale: 0.5;
    }
    .organizzato p{
        margin: 0 0 0px 54px;
        font-size: 12px;
    }
    .copyright p{
        font-size: 10px;
        margin: 10px 0;
    }
    .labels-grid{
        margin: 20px 20px 0px 0;
    }
    .footer-subscribe{
        padding-bottom: 40px;
    }
    footer .line{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .footer-subscribe{
        padding-left: 30px;
        padding-right: 30px;
    }

}

